@page "/getmaps"
@inject HttpClient Http
@using Newtonsoft.Json

<PageTitle>Maps</PageTitle>
<MudContainer Class="text-center">
    <MudText Typo="Typo.h3" GutterBottom="true">There are @_filteredMaps.Count().ToString() maps listed</MudText>
</MudContainer>

@if (_maps == null)  
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudContainer Class="Options" Style="margin-bottom: 10px; padding: 5px; display: flex; justify-content: center;">
        <span style="align-self: center; margin-right: 10px;">Sort by:</span>
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
            <MudButton>@_sort.ToString()</MudButton>
            <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                @foreach (var state in _states)
                {
                    <MudMenuItem OnClick="() => Sort(Enum.Parse<SortOption>(state))">@state</MudMenuItem>
                }
            </MudMenu>
        </MudButtonGroup>

        <span style="align-self: center; margin-left: 20px; margin-right: 10px;">Icon Size:</span>
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
            <MudButton>@_sizeString</MudButton>
            <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                @foreach (KeyValuePair<string, int> size in _sizes)
                {
                    <MudMenuItem OnClick="() => Size(size.Value)">@size.Key</MudMenuItem>
                }
            </MudMenu>
        </MudButtonGroup>
    </MudContainer>
    
    <MudContainer Class="Search" Style="margin-bottom: 40px; padding: 5px; display: flex; justify-content: center;">
        
        <MudButton OnClick="Random" EndIcon="@Icons.Material.Filled.QuestionMark" Color="Color.Primary" Style="transform: translate(0, 8px);"></MudButton>
        
        <MudText Typo="Typo.body1">
            <MudTextField @bind-Value="_textValue" Label="Search" Variant="Variant.Text"></MudTextField>
        </MudText>
        
        <MudButton OnClick="Search" StartIcon="@Icons.Material.Filled.Search" Color="Color.Primary" Style="transform: translate(0, 8px);">Search</MudButton>
    </MudContainer>

    <MudGrid Justify=Justify.Center Class="Grid">
        @foreach (var item in _filteredMaps)
        {
            try
            {
                <div style="padding: 2px;">
                    <MudButton Variant="Variant.Text" Href="@item.Url" Target="_blank">
                        <MudCard class="hover-card" Style="@_cardStyle">
                            <MudCardMedia Image="@item.Image" Alt="@item.Name" class="hover-image"></MudCardMedia>
                            <div style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: rgba(0, 0, 0, 0.2);">
                                <MudText Typo="Typo.subtitle1" Align="Align.Left" Style="padding: 2px; color: white;">
                                    @item.Name
                                </MudText>
                            </div>
                        </MudCard>
                    </MudButton>
                </div>

                <style>
                    .hover-card {
                        transition: transform 0.3s ease;
                    }
                    .hover-card:hover {
                        transform: scale(1.04);
                    }
                    .hover-image {
                        transition: opacity 0.3s ease;
                    }
                    .hover-card:hover .hover-image {
                        opacity: 0.7;
                    }
                </style>
            } catch (Exception e)
            {
                Console.WriteLine(e);
            }
        }
    </MudGrid>
}

@code {
    List<MapInfo> _maps = [];
    List<MapInfo> _filteredMaps = [];
    string _textValue = string.Empty;
    SortOption _sort;
    string _cardStyle;
    string _sizeString;
    readonly Random _random = new ();
    const string mapsUrl = "https://raw.githubusercontent.com/Not-A-Bird-07/Maps/refs/heads/main/Maps.json";

    readonly Dictionary<string,int> _sizes = new ()
    {
        {"Small", 200},
        {"Medium", 250},
        {"Large", 300}
    };

    readonly string[] _states =
    [
        "A_Z",
        "Z_A",
        "Curated"
    ];

    protected override async Task OnInitializedAsync()
    {
        string json = await Http.GetStringAsync(mapsUrl);

        _maps = JsonConvert.DeserializeObject<List<MapInfo>>(json);
        await Size(_sizes["Medium"]);
        await Sort(SortOption.A_Z);
    }

    private Task Size(int size)
    {
        _cardStyle = $"width: {size}px; height: {size}px; position: relative; border-radius: 15px; overflow: hidden;";
        _sizeString = _sizes.FirstOrDefault(x => x.Value == size).Key;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task Search()
    { 
        _filteredMaps = _maps
            .Where(m => m.Name.Contains(_textValue, StringComparison.OrdinalIgnoreCase))
            .ToList();
        
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task Random()
    {
        string randomMapName = _maps[_random.Next(0, _maps.Count)].Name;
        _filteredMaps = _maps
            .Where(m => m.Name == randomMapName)
            .ToList();
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task Sort(SortOption sortOption)
    {
        _sort = sortOption;
        _filteredMaps.Clear();
        switch (sortOption)
        {
            case SortOption.A_Z:
                foreach (MapInfo map in _maps.OrderBy(map => map.Name).ToList())
                    _filteredMaps.Add(map);
                break;
                
            case SortOption.Z_A:
                foreach (MapInfo map in _maps.OrderBy(map => map.Name).Reverse().ToList())
                    _filteredMaps.Add(map);
                break;
                
            case SortOption.Curated:
                foreach (MapInfo map in _maps)
                    if (map.Good)
                        _filteredMaps.Add(map);
                break;
                
            default://doing this so rider stops yelling at me
                break;
        }
        StateHasChanged();
        return Task.CompletedTask;
    }
    
    public enum SortOption
    {
        A_Z,
        Z_A,
        Curated
    }
}