@inject HttpClient Http
@page "/getmaps"
@using Newtonsoft.Json

<PageTitle>Maps</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Maps</MudText>

@if (Maps == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudSelect @bind-Value="_value" Style="margin-bottom: 40px;" TextChanged="Callback">
        @foreach (var state in _states)
        {
            <MudSelectItem Value="@state">@state</MudSelectItem>
        }
    </MudSelect>

    <MudGrid Justify=Justify.Center>
        @foreach (var item in FilteredMaps)
        {
            try
            {
                <div style="padding: 4px;">
                    <MudButton Variant="Variant.Text" Href=@item.Url Target="_blank">
                        <MudCard class="hover-card" Style="width: 300px; position: relative; border-radius: 15px; overflow: hidden;">
                            <MudCardMedia Image="@item.Image" Alt="@item.Name" class="hover-image"></MudCardMedia>
                            <div style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: rgba(0, 0, 0, 0.2);">
                                <MudText Typo="Typo.subtitle1" Align="Align.Left" Style="padding: 2px; color: white;">
                                    @item.Name
                                </MudText>
                            </div>
                        </MudCard>
                    </MudButton>
                </div>
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
        }
    </MudGrid>
}

@code {
    private List<Map> Maps = new List<Map>();
    private List<Map> FilteredMaps = new List<Map>();
    string _value;

    string[] _states =
    {
        "None",
        "Name"
    };

    protected override async Task OnInitializedAsync()
    {
        string url = "https://raw.githubusercontent.com/Not-A-Bird-07/Maps/refs/heads/main/Maps.json";
        string json = await Http.GetStringAsync(url);

        Maps = JsonConvert.DeserializeObject<List<Map>>(json);
        
        _value = "None";
    }

    private async Task Callback(string obj)
    {
        _value = obj;
        
        FilteredMaps.Clear();

        if (_value == "None")
        {
            foreach (var map in Maps)
            {
                FilteredMaps.Add(map);
                StateHasChanged();
                await Task.Delay(30);
            }
        }
        else if (_value == "Name")
        {
            foreach (var map in Maps.OrderBy(map => map.Name).ToList())
            {
                FilteredMaps.Add(map);
                StateHasChanged();
                await Task.Delay(30);
            }
        }
        StateHasChanged();
    }

    class Map
    {
        public string Name { get; set; }
        public string Image { get; set; }
        public string Url { get; set; }
    }
}